<section class='books'>
  <div class='container'>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src='./images/A Gentleman in Moscow.jpg' class='center' alt='...'>
          <div class="card-body">
            <h5 class="card-title">A Gentleman in Moscow</h5>
            <p class="card-text">With his breakout debut novel, Rules of Civility, Amor Towles established himself as a master of absorbing..</p>
              <button type="button" class="btn btn-success">Add to Cart</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src='./images/A Wild Sheep Chase.jpg' class='center' alt='...'>
          <div class="card-body">
            <h5 class="card-title">A Wild Sheep Chase</h5>
            <p class="card-text">His life was like a recurring nightmare: a train to nowhere. But an ordinary life has a way of taking an extraordinary turn..</p>
            <button type="button" class="btn btn-success">Add to Cart</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src='./images/The Wonder House.jpg' class='center' alt='...'>
          <div class="card-body">
            <h5 class="card-title">The Wonder House</h5>
            <p class="card-text">Justine Hardy is an English journalist, a best-selling author, and a filmmaker who has spent much of the past fifteen years..</p>
            <button type="button" class="btn btn-success">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src='./images/A Gentleman in Moscow.jpg' class='center' alt='...'>
          <div class="card-body">
            <h5 class="card-title">A Gentleman in Moscow</h5>
            <p class="card-text">With his breakout debut novel, Rules of Civility, Amor Towles established himself as a master of absorbing..</p>
              <button type="button" class="btn btn-success">Add to Cart</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src='./images/A Wild Sheep Chase.jpg' class='center' alt='...'>
          <div class="card-body">
            <h5 class="card-title">A Wild Sheep Chase</h5>
            <p class="card-text">His life was like a recurring nightmare: a train to nowhere. But an ordinary life has a way of taking an extraordinary turn..</p>
            <button type="button" class="btn btn-success">Add to Cart</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src='./images/The Wonder House.jpg' class='center' alt='...'>
          <div class="card-body">
            <h5 class="card-title">The Wonder House</h5>
            <p class="card-text">Justine Hardy is an English journalist, a best-selling author, and a filmmaker who has spent much of the past fifteen years..</p>
            <button type="button" class="btn btn-success">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class='footer'>
  <p>Copyright. All rights reserved.</p>
</section>